In [6]:
pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\kumar\documents\anoconda\lib\site-packages (2.0.38)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: greenlet!=0.4.17 in c:\users\kumar\documents\anoconda\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kumar\documents\anoconda\lib\site-packages (from sqlalchemy) (4.12.2)

In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [2]:

order_df = pd.read_csv("C:/Users/kumar/Pictures/data/orders.csv").sample(10000)

In [3]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2460876,1686683,148113,prior,21,4,9,18.0
1403332,1437296,84309,prior,4,3,16,6.0
2590956,1341945,155971,prior,19,6,10,15.0
2399176,1512840,144366,prior,15,1,12,9.0
3237307,1451778,195138,prior,2,2,8,0.0

In [4]:
print(order_df)

         order_id  user_id eval_set  order_number  order_dow  \
2460876   1686683   148113    prior            21          4
1403332   1437296    84309    prior             4          3
2590956   1341945   155971    prior            19          6
2399176   1512840   144366    prior            15          1
3237307   1451778   195138    prior             2          2
...           ...      ...      ...           ...        ...
1894732   1280769   113750    train             4          1
2926919   1657060   176583    prior            37          3
3218600   3000629   194051    prior            77          3
2504612    876034   150778    prior            40          3
1237030    848724    74366    prior            18          5

         order_hour_of_day  days_since_prior_order
2460876                  9                    18.0
1403332                 16                     6.0
2590956                 10                    15.0
2399176                 12                     9.0
3237307                  8                     0.0
...                    ...                     ...
1894732                  9                    30.0
2926919                  5                     4.0
3218600                 12                     2.0
2504612                 14                     5.0
1237030                 13                     7.0

[10000 rows x 7 columns]

In [7]:
aisles_df = pd.read_csv("C:/Users/kumar/Pictures/data/aisles.csv")

In [8]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [9]:
departments_df = pd.read_csv("C:/Users/kumar/Pictures/data/departments.csv")

In [10]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [11]:
order_products_df = pd.read_csv("C:/Users/kumar/Pictures/data/order_products.csv").sample(10000)

In [15]:
order_products_df.head()

          order_id  product_id  add_to_cart_order  reordered
1310046     138182       27521                  7          1
13773894   1453728       25890                  6          1
5141781     542783       36085                 10          0
25474528   2686717       13440                  9          0
19791189   2087349       10957                  7          1

In [16]:
products_df = pd.read_csv("C:/Users/kumar/Pictures/data/products.csv")

In [17]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [18]:
#connection
try:
    conn = psycopg2.connect(dbname = "ecom_analysis", user="postgres",password='anish321',port='5432') 
except:
    print("connection was unsuccessful")

In [19]:
#cursor is used to execut the query 
cur = conn.cursor()

In [20]:
engine = create_engine('postgresql+psycopg2://postgres:anish321@localhost/ecom_analysis')

In [21]:
cur.execute("""
CREATE TABLE aisles(
    aisle_id INTEGER PRIMARY KEY,
    aisle varchar(255)
)
""")

In [22]:
cur.execute("""
CREATE TABLE departments (
        department_id INTEGER PRIMARY KEY,
        department VARCHAR(255)
)

""")

In [23]:
cur.execute("""
CREATE TABLE products(
        product_id INTEGER PRIMARY KEY,
        product_name VARCHAR(255),
        aisle_id INTEGER,
        department_id INTEGER,
        FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
        FOREIGN KEY (department_id) REFERENCES departments(department_id)        
)
""")

In [24]:
cur.execute("""
CREATE TABLE orders(
        order_id INTEGER PRIMARY KEY,
        user_id INTEGER,
        order_number INTEGER,
        order_dow INTEGER,
        order_hour_of_day INTEGER,
        days_since_prior_order INTEGER    
)
""")

In [25]:
cur.execute("""
CREATE TABLE oders_product(
    order_id integer,
    product_id integer,
    add_to_cart_order integer,
    reordered integer,
    primary key (order_id,product_id),
    Foreign key(order_id) references orders(order_id),
    foreign key(product_id) references products(product_id)
)
""")

In [26]:
# Save (commit) the changes
conn.commit()

In [27]:
order_df.drop('eval_set', inplace=True, axis=1)

In [28]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index = False)

134

In [29]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [30]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [32]:
order_df.to_sql('orders', con=engine, if_exists='append',index=False)

1000

In [34]:
order_products_df.to_sql('order_product',con=engine,if_exists='append',index=False)

1000